<!DOCTYPE html>
<html lang="es">

<head>
  {%load static%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ñaipytyvô.py - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href= "{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href= "/static/css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{% static "img/logo.png" %}" height="100" width="300">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#SERVICIOS">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Historias">Historias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contactos">Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Registrate Aqui">Registrate Aqui</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" id= "Inicio">
    <div class="container">
      <div class="intro-text">
               <div class="intro-heading text-uppercase">Guia ÑAIPYTYVÔ</div>
                <div class="intro-lead-in">Bienvenidos! </div>

        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Averigua Mas</a>
      </div>

    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="Servicios">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">CATEGORIAS</h2>
          <h3 class="section-subheading text-muted">Servicios</h3>
        </div>
      </div>
      <div class="row text-danger"> 
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading" href="#Duces Sabores"> GASTRONOMIA</h4>
          <!-- <img src="http//eci.edu.mx/toluca/wp-content/uploads/2017/02/DSC0162.jpg"></a> -->
          <p class="text-muted"> En esta seccion.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
            <h4 class="service-heading">ELECTRONICA</h4>
            <p class="text-muted">En esta seccion.</p>
          </div>
          <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">PUBLICIDADES</h4>
          <p class="text-muted"> En esta seccion.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="SERVICIOS">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">SERVICIOS</h2>
          <!-- <img src="http//eci.edu.mx/toluca/wp-content/uploads/2017/02/DSC0162.jpg"></a> -->
          <h3 class="section-subheading text-muted">En esta seccion podras encontrar todas nuestras ofertas</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src= "{% static "img/portfolio/01-thumbnail.jpg" %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Dulces Sabores</h4>
            <p class="text-muted">Endulsa tus Eventos</p>
            Encarnacion<br>
            Llamadas 0984-715-604<br>
            arnaldoacosta057@gmail.com
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src= "{% static "img/portfolio/02-thumbnail.jepg" %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>RR Electricidad</h4>
            <p class="text-muted">Servicios de Calidad</p>
            Caaguazu<br>
            Llamadas 0971-280-502<br>
            ruben.rrlm54@gmail.com<br>
            @rr.electricidad
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src= "{% static "img/portfolio/03-thumbnail.jpeg" %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Creative Serigrafia</h4>
            <p class="text-muted">Creamos tus Ideas</p>
            Caaguazu<br>
            WhatsApp (0975)353.601<br>
            Llamadas (0991)9553.036<br>
            javi.gomez87@hotmail.com
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src= "{% static "img/portfolio/04-thumbnail.jpg" %}">
          </a>
          <div class="portfolio-caption">
            <h4> Bodega LELO BEER</h4>
            <p class="text-muted">Tragos a tu Gusto</p>
            Col. Andres Barbero
            WhatsApp (0975)439.365
            Llamadas (0985)531.053
            alezcano09@gmail.com
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src= "{% static "img/portfolio/05-thumbnail.jpg" %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Barberia Mariscal</h4>
            <p class="text-muted">Tu Barberia Favorita</p>
            Cuidad Del Este<br>
            Llamadas (0983)507.033<br>
            Intragram<br>
            Facebook<Br>
            GMAIL
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src= "{% static "img/portfolio/06-thumbnail.jpg" %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4> Carniceria B.Boy Ka K@</h4>
            <p class="text-muted">La mejor carne del Campo</p>
            Coronel Oviedo<br>
            Llamadas (0975)314.774<br>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="page-section" id="Historias">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">OPINIONES</h2>
          <h3 class="section-subheading text-muted">Dejanos tu opinion.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src= "{% static "img/about/1.jpg" %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Julio 2019</h4>
                  <h4 class="subheading">Eudelio Carmona</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted"> Esperamos que esta pagina pueda ayudarle en sus respectivos emprendimientos y de esa manera puedar mejorar sus ventas y publicidades </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src= "{% static "img/about/2.jpg" %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Julio 2019</h4>
                  <h4 class="subheading">Ruben Riveros</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Procuramos ayudarte a !</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src= "{% static "img/about/3.jpg" %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>July 2019</h4>
                  <h4 class="subheading">Francisco Gomez</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src= "{% static "img/about/4.jpg" %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>July 2019</h4>
                  <h4 class="subheading">Eudelio Carmona</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted"> La vida de un Emprendedor no es muy facil, te privas de muchas cosas para poder empezar a serlo, mi vida basicamente siempre se baso en una frase que nunca borrare de mi mente "Sueña en Grande"</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Contanos 
                  <br>tu experiencia
                  <br> ayudanos
                  <br>a mejorar</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Creadores</h2>
          <h3 class="section-subheading text-muted">Comunicate con los creadores.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src= "{% static "img/team/1.jpg" %}" alt="">
            <h4>Eudelio Carmona</h4>
            <p class="text-muted">Sueña en Grande</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src= "{% static "img/team/2.jpg" %}" alt="">
            <h4>Arnaldo Acosta</h4>
            <p class="text-muted">Cree en Grande</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src= "{% static "img/team/3.jpg" %}" alt="">
            <h4>Francisco Gomez</h4>
            <p class="text-muted">Crece Siempre</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Los emprenderores y creadores de esta pagina te queremos dar la oportunidad de
             registrarte a nuestra plataforma de esa manera puedas hacer conocer tus servicios
             o adquirir servicios varios.
             .</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src= "{% static "img/logos/envato.jpg" %}" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src= "{% static "img/logos/designmodo.jpg" %}" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src= "{% static "img/logos/themeforest.jpg" %}" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src= "{% static "img/logos/creative-market.jpg" %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contactos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Escribinos</h2>
          <h3 class="section-subheading text-muted">Ayudanos a mejorar nuetra pagina.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Mensaje *" required="required" data-validation-required-message="Please enter tu mensaje.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Email *" required="required" data-validation-required-message="Please enter tu email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Telefono *" required="required" data-validation-required-message="Please enter telefono number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Tu Mensaje *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar Mensaje</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Derechos de Autor &copy; Su sitio web 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Politica de Privasidad</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Términos de Uso</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Dulces Sabores</h2>
                <p class="item-intro text-muted">Dale Sabor a tus Eventos.</p>
                <img class="img-fluid d-block mx-auto" src= "{% static "img/portfolio/01-full.jpg" %}" alt="">
                <p>Dulce sabores; Bocaditos dulces y salados tortas para todo tipos de eventos y postres nacionales e internacionales!</p>
                <ul class="list-inline">
                  <li>Pedidos: 0984-715-604 </li>
                  <li>Ciudad: Encarnacion</li>
                  <li>Pais: Paraguay</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Cerrar </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">RR Electricidad</h2>
                <p class="item-intro text-muted">Servicios de Calidad.</p>
                <img class="img-fluid d-block mx-auto" src= "{% static "img/portfolio/02-thumbnail.jpg" %}" alt="">
                <p>djhsdhfjshdfjsjdhfjsdhfjhsdjhfjsdhfjksdhjkfhsdjfhsjkdhfjksdhfjkhdjkfhjkdhfjksdhfjhjksdhfjshfjksdmcbynmcjdsjshjfsjmdnclcjhskjchjkdhcjksjhfhkjdnyncjkyxhcjkskdfh!</p>
                <ul class="list-inline">
                  <li>Llamada: 0971-280-502</li>
                  <li>Ciudad: Caaguazu</li>
                  <li>Pais: Paraguay</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Creative Serigrafia</h2>
                <p class="item-intro text-muted">Creamos tus Ideas.</p>
                <img class="img-fluid d-block mx-auto" src= "{% static "img/portfolio/03-full.jpg" %}" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Contactos: 0975-353-601</li>
                  <li>Ciudad: Caaguazu</li>
                  <li>Pais: Paraguay</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Bodega LELO BEER</h2>
                <p class="item-intro text-muted">Tragos a tu Gusto.</p>
                <img class="img-fluid d-block mx-auto" src= "{% static "img/portfolio/04-full.jpg" %}" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Pedidos: 0975-439-365</li>
                  <li>Ciudad: San Pedro del Ycuamandyyu</li>
                  <li>Pais: Paraguay</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Barberia Mariscal</h2>
                <p class="item-intro text-muted">Tu barberia favorita.</p> 
                <img class="img-fluid d-block mx-auto" src= "{% static "img/portfolio/05-full.jpg" %}" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Contactos: 0984-355-755</li>
                  <li>Ciudad: Ciudad del Este</li>
                  <li>Pais: Paraguay</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Carniceria B.Boy Ka K@</h2>
                <p class="item-intro text-muted">La mejor carne del campo.</p>
                <img class="img-fluid d-block mx-auto" src= "{% static "img/portfolio/06-full.jpg" %}" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <ul class="list-inline">
                  <li>Contactos: 0975-314-774</li>
                  <li>Ciudad: Coronel Oviedo</li>
                  <li>Pais: Paraguay</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src= "{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src= "{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Plugin JavaScript -->
  <script src= "{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Contact form JavaScript -->
  <script src= "{% static "js/jqBootstrapValidation.js" %}"></script>
  <script src= "{% static "js/contact_me.js" %}"></script>

  <!-- Custom scripts for this template -->
  <script src= "{% static "js/agency.min.js" %}"></script>

</body>

</html>
