<!DOCTYPE html>
<html lang="es">

<head>
  {%load static%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ñaipytyvô.py - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href= "{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href= "/static/css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{% static "img/logo.png" %}" height="100" width="300">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#servicios">Servicios</a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Historias">Historias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contactos">Contactos</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Registrate Aqui">Registrate Aqui</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" id= "Inicio">
    <div class="container">
      <div class="intro-text">
               <div class="intro-heading text-uppercase">ÑAIPYTYVÔ</div>
                 <h3>GUIA COMERCIAL </h3>
        
                  <h4>Los emprenderores y creadores de esta pagina queremos que seas parte de esta plataforma, ayudanos a conocerte y saber que podes ofrecer.! </h4> </div>
                    <div class="intro-lead-in">

        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Averigua Mas</a>
      </div>

    </div>
  </header>

  <!-- Contact -->
  <section class="page-section" id="contactos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contactate con Nosotros</h2>
          <h3 class="section-subheading text-muted">Ayudanos a mejorar nuetra pagina.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">


          <form id="contactForm" name="sentMessage" novalidate="novalidate" method = "POST" action="/nuevo" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    {% csrf_token %}


                  <input class="form-control" name="nombre"  type="text" placeholder="Nombre *" required="required" data-validation-required-message="Please enter tu mensaje.">
                  <p class="help-block text-danger"></p>
                </div>

                <div class="form-group">
                  <input class="form-control" name="telefono" type="number" placeholder="Telefono *" required="required" data-validation-required-message="Please enter tu email address.">
                  <p class="help-block text-danger"></p>
                </div>


                <div class="form-group">
                  <input class="form-control" name="ciudad" type="text" placeholder="Ciudad *" required="required" data-validation-required-message="Please enter telefono number.">
                  <p class="help-block text-danger"></p>
                </div>
              
                <div class="form-group">
                  <input class="form-control" name="servicio" type="text" placeholder="Servicio *" required="required" data-validation-required-message="Please enter telefono number.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" name="descripcion" type="text" placeholder="Describi tu Servicio *" required="required" data-validation-required-message="Please enter telefono number.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input name="imagen" type="file" placeholder="Imagen *" required="required" data-validation-required-message="Please enter telefono number.">
                  <p class="help-block text-danger"></p>


                </div>
              
              </div>




          
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar Mensaje</button>
              </div>
            </div>
          </form>



        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Derechos de Autor &copy; Ñaipytyvô 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Politica de Privasidad</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Términos de Uso</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>